body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
  }
  * {
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  p {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 16px;
    line-height: 22px;
  }
  .imgResponsive {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cursorPointer {
    cursor: pointer;
  }
  .imageEffect {
    opacity: 0.5;
    -webkit-transition: 0.3s ease-in;
    cursor: pointer;
  }
  .imageEffect:hover{
    opacity: 1;
  }
  .linkCinza {
    color:#9c9c9c;
    text-decoration: none;
    margin-top: 20px;
    display: block;
  }
  .marginBottom50 {
    margin-bottom: 50px;
  }
  .margin-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .margin-25 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .logo {
    color: #3f51b5;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
  }
  .menuButton {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: 1px solid #3f51b5;
    color: #3f51b5;
    margin-bottom: 10px !important;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  }
  .menuButton:hover{
    color: #fff;
    background-color: #3f51b5;
    
  }
  .resultDivHTML {
    margin-top:20px;
    color:#626262;
  }
  .editableDiv {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .MuiCard-root {
    overflow: unset !important;
  }
  .material-ui-rc-color-picker {
    z-index: 1000;
    background: #fff;
    border: 1px solid #ddd;
  }
  .colorWrapPicker {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .colorWrapPicker span{
    font-weight: 600;
    margin-left: 5px;
  }
  